body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin: 20px 0;
}

.slideshow-container {
    position: relative;
    max-width: 600px; /* Set the width of the slideshow */
    margin: auto;
    /* overflow: hidden;  */
}

.slide {
    display: none; /* Hide all slides by default */
    width: 100%;
    max-width: 1200px;
    background-color: #090909;
    padding: 15px;
    margin-bottom: 10px;
    /* overflow: hidden; */
}

.slide img {
    width: 100%;
    height: auto;
    mix-blend-mode:normal;
    background-color: #fff;
}

.fade {
    animation: fade 1.5s ease-in-out; /* Fade animation */
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}
.prev{
    width: 35px;
    height: 35px;
    background-color: #090909;
    color: #fff;
    font-size: large;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
}
.next{
    width: 35px;
    height: 35px;
    background-color: #090909;
    color: #fff;
    font-size: large;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
}